PORT=8080
MAIL_FROM="no-reply@empresa.com"
DP_EMAIL="dp@empresa.com"
SMTP_HOST="smtp.seuprovedor.com"
SMTP_PORT=587
SMTP_USER="usuario"
SMTP_PASS="senha"
SMTP_SECURE=false
AUTENTIQUE_TOKEN="seu_token_aqui"
AUTENTIQUE_SANDBOX=true
RH_USER="rh"
RH_PASS="sua_senha_segura"
